<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="environment" value="%Put Your Instance URL Here"/>
    <add key="username" value="%username goes here%"/>
    <add key="password" value="%user password goes here%"/>
    <add key="superusername" value="%superusername goes here%"/>
    <add key="superuserpassword" value="superuser password goes here%"/>
  </appSettings>
</configuration>